body {
    // To make 1em = 10px
    font-size: 62.5%;
    margin: 0;
}
a{
    color:inherit;
    text-decoration: inherit;
}
a:visited{
    color:inherit;
}
h1 {
    font-size: 60px;
    line-height: 90px;
    //font-family: "Dosis", Arial, sans-serif;
  }
  h2 {
    font-size: 38px;
    line-height: 50px;
    // .font_bold;
  }
  h3 { 
    font-size: 12px;
    line-height: 18px;
    // .font_normal;
  }
  hr{
    width: 100%;
    color: #7a7a7a;
  }
  
  p {
    font-size: 14px;
    line-height: 21px;
  }